.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1/-1;
    grid-row: 1/2;

    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: $color-white;
  height: 0.2rem;
  width: 4.5rem;
  margin-top: 4rem;

  &::after,
  &::before {
    background-color: $color-white;
    height: 0.2rem;
    width: 4.5rem;
    content: '';
    display: block; // block으로 안 하면 after, before는 크기 못 가짐
  }

  &::after {
    transform: translateY(-1.5rem);
  }
  &::before {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 3rem;

    &::after {
      transform: translateY(-1.2rem);
    }
    &::before {
      transform: translateY(1rem);
    }
  }
}
